<aside class="main-sidebar fixed-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <!-- <li class="header">NAVIGATION</li> -->
      <li><a routerLink="dashboard" routerLinkActive="active"> <i class="fa fa-dashboard"></i>
        <span>Dashboard</span></a></li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i><span>Suppliers</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="add-supplier" routerLinkActive="active"><i class="fa fa-files-o"></i>Add Supplier</a></li>
          <li><a routerLink="suppliers" routerLinkActive="active"><i class="fa fa-user-o"></i>Supplier Master</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i><span>Medicine Category</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="add-medicine-catg" routerLinkActive="active"><i class="fa fa-files-o"></i>Add Medicine Category</a>
          </li>
          <li><a routerLink="medicines-catg" routerLinkActive="active"><i class="fa fa-user-o"></i>Medicine Category
            Master</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i><span>Manage Medicine</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="add-supplier" routerLinkActive="active"><i class="fa fa-files-o"></i>Add Medicine</a></li>
          <li><a routerLink="suppliers" routerLinkActive="active"><i class="fa fa-user-o"></i>Medicine Master</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i><span>Manage Salesmen</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="add-supplier" routerLinkActive="active"><i class="fa fa-files-o"></i>Add Salesmen</a></li>
          <li><a routerLink="suppliers" routerLinkActive="active"><i class="fa fa-user-o"></i>Medicine Salesmen</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user"></i><span>Reports</span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="add-supplier" routerLinkActive="active"><i class="fa fa-files-o"></i>Sales Report</a></li>
          <li><a routerLink="suppliers" routerLinkActive="active"><i class="fa fa-user-o"></i>Purchase Report</a></li>
        </ul>
      </li>
      <li><a routerLink="add-supplier" routerLinkActive="active"><i class="fa fa-files-o"></i>Notice board</a></li>
      <li><a routerLink="suppliers" routerLinkActive="active"><i class="fa fa-user-o"></i>Setting</a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
